body, html {
	background-color: #000;
	color: #28E500;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
#log {
	display: block;
}
.row {
	display: block;
	font-weight: bold;
	font-size: 15px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
#active-log {
	display: none;
}
#input-container {
	display: flex;
	padding-top:15px;
}
#labelo {
	display: inline-block;
	font-size: 15px;
	font-weight:bold;
	order:1;
	padding-right: 5px;
	white-space: nowrap;
}
input {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	display: inline-block;
	border: none;
	font-size:15px;
	color:#28E500;
	font-weight:bold;
	width:100%;
	background-color: rgba(0,0,0,0);
	padding-bottom: 20vh;
	flex-shrink:2;
	order:2;
}
input:focus{
	outline:none;
}