<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="description" content="">
			<meta name="keywords" content="">
			<meta name="viewport" content="width=device-width" />
			<title>haker</title>
			<link rel="stylesheet" type="text/css" href="style/style.css" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
			<script src="script/script.js"></script>
		</head>
		<body>
			<section id="log">
			</section>
			<div id="active-log"></div>
			<div id="input-container">
				<label id="labelo"></label>
				<input id="input" type="text" autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
			</div>
			
		</body>
	</html>